<div class="container-fluid">
  <div class="user-div row">
    <div class="col-md-1"></div>
    <div class="account-blk col-md-4">
      <h4> Your account info </h4>
      <table class="account-table">
        <tr>
	      	<th></th>
	      	<th></th>
	      </tr>
	      <tr>
	      	<td> <b> Username: </b></td>
	      	<td> <%= @user.username %></td>
	      </tr>
	      <tr>
	      	<td> <b> Address: </b></td>
	      	<td> <%= @user.address %> </td>
	      </tr>
	      <tr>
	      	<td> <b> email: </b></td>
	      	<td> <%= @user.email %> </td>
	      </tr>
      </table>
      <div class="update-btn"><a href="/users/<%= session[:user_id] %>/edit">
      <button class="update"> UPDATE</button> </a>
      </div>
    </div>
    <div class="col-md-3">
    	<h4> Your orders </h4>
    	<table>
    	  <tr>
    	  	<th></th> 
    	  	<th></th> 
    	  	<th></th>
        </th>
        <% order_num = 0 %>
	    	<% @orders.each do |order| %>
	    	  <tr>
            <% order_num += 1 %>
			    	<td> <%= order_num %></td>
			      <td><button><%= link_to 'Show', order %>  </button></td>
			      <td><button><%= link_to "Delete", order, method: :delete,
			            data: { confirm: "You sure?" } %></button> 
			      </td>
		      </tr>
	      <% end %>
	    </table>
    </div>
    <div class="col-md-3">
    	<h4> Your wishlists </h4>
      <table>
        <tr>
          <th></th> 
          <th></th> 
          <th></th>
        </th>
        <% wishlist_num = 0 %>
        <% @wishlists.each do |wishlist| %>
          <tr>
            <% wishlist_num += 1 %>
            <td> <%= wishlist_num %></td>
            <td><button><%= link_to 'Show', wishlist %>  </button></td>
            <td><button><%= link_to "Delete", wishlist, method: :delete,
                  data: { confirm: "You sure?" } %></button> 
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="new-order-div-btn row">
    <div class="col-md-2">
    </div>
    <div class="col-md-3">
      <a href="/orders/new"><button class="order-btn"> THIS WEEK's DELIGHTS</button></a>
    </div>
  </div>
</div>
