<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>
<a href="/"> HOME </a>
<h1>Products#index</h1>

<%= form_for Order.new do |f| %>
  <% @products.each do |prod| %>
    <h3> Ice cream flavor</h3>
    <%= prod.name %>
    <h3> price (10 gallons) </h3>
    <%= prod.price %>
	  <%= check_box(prod.id, "id") %>
   <% end %>
   <%= f.submit %>
<% end %>