
<div class="product-div container-fluid">
  <div class="product-head-div row">
		<div class="col-md-2"></div>
		<div class="col-md-3"><p> Flavor</p></div>
		<div class="col-md-2"><p> Price (10 gallons)</p></div>
		<div class="col-md-2">Add to order</div>
        <div class="col-md-2">Add to wishlist</div>
	</div>

    <% @products.each do |prod| %>
			<div class="row">
			  <div class="col-md-2"></div>
			  <div class="col-md-3"><h5>  <%= prod.name %> </h5>
			  </div>
			  <div class="col-md-2">
			    <h5> <%= prod.price %> </h5>  
			  </div>
			  <div class="col-md-2">
				   <%= check_box(prod.id, "id") %>
				</div>
				<div class="col-md-2"> <%= check_box(prod.id, "id") %></div>
			</div>
		<% end %>
		<%= form_for Order.new do |f| %>
		   <%= f.submit %>
		<% end %>
</div>