
<div class="container-fluid">
  <div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-3"><h4>Flavor</h4></div>
		<div class="col-md-3"><h4> Price (10 gallons)</h4></div>
	</div>
	<div class="row">
	<%= form_for Order.new do |f| %>
	  <% @products.each do |prod| %>
	    <div class="col-md-2"></div>
	    <div class="col-md-3">
	    	<h5>  <%= prod.name %> </h5>
	    </div>
	    <div></div>
	    <h3> price (10 gallons) </h3>
	    <%= prod.price %>
		  <%= check_box(prod.id, "id") %>
	   <% end %>
	   <%= f.submit %>
	<% end %>
  </div>
</div>